// Custom styles.

.menu .menu-item a {
  font-size: 14px;
}

.post-body {

  & a,
  & a.btn,
  & a.btn:hover {
    &:not(.color-default) {
      color: blue;
      border-bottom-color: blue;
    }
  }

  @media (max-width: 767px) {
    & .highlight .code pre {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}

@media (max-width: 767px) {
  .github-corner {
    display: none;
  }
}

// for IOS bug
@supports (-webkit-overflow-scrolling: touch) {

  pre,
  .highlight {
    overflow: visible;
  }
}

.key-point {
  font-weight: bold;
  color: red;
}

@each $var in (left, center, right) {
  .#{$var} {
    text-align: $var;
  }
}

.edit-on-github {
  position: absolute;
  right: 0;
  z-index: 1;

  @media (max-width: 767px) {
    top: -50px;
  }
}