// Custom styles.

.menu .menu-item a {
  font-size: 14px;
}

.post-body {

  & a {
    color: blue;
  }

  @media (max-width: 767px) {
    & .highlight .code pre {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}

@media (max-width: 767px) {
  .github-corner {
    display: none;
  }
}

// TODO: for IOS bug
@supports (-webkit-overflow-scrolling: touch) {
  pre, .highlight {
    overflow: visible;
  }
}

.key-point {
  font-weight: bold;
  color: red;
}
